<h3 class="page-header">$client.getName()</h3>

<h4>Usual Cut: $client.getCut()</h4>
<h4>Usual Stylist: </h4>



<a href="/stylists/$stylist.getId()/clients/new">Add Client</a> |
<a href="/clients">All Clients</a> |
<a href="/">Main Page</a>
