<h3 class="page-header">Client List</h3>

#if($clients)
  <ul>
    #foreach($client in $clients)
      <li><strong>name: </strong><a href="/clients/$client.getId()">$client.getName()</a> | <strong>usual style: </strong><em>$client.getCut()</em>
    #end
  </ul>
#else
  <h4>No Clients</h4>
#end

<a href="/">Main Page</a> |
<a href="/stylists">All Stylists</a>
