<!DOCTYPE html>
<html>
  <head>
    <title>Snippy Snips</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container prediv">
      <header>
        <h1 class="well well-sm text-center">Snippy Snips</h1>
      </header>
    </div>
    <div class="container">
      #parse ( $template )
    </div>
  </body>
</html>
